@use "../variables" as *;

#about {
  padding: 2rem 0;
  background: linear-gradient(to top, #ffe6f0, #fff);

  h2 {
    color: $primary-color;
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    text-align: center;
    margin-bottom: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .about-container {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center; // Centra todo horizontalmente
    flex-wrap: wrap;

    .about-image {
      flex-shrink: 0;
      width: 180px;
      height: 180px;
      border-radius: 50%;
      object-fit: cover;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      transition: transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 0.5s ease-in-out;
    
      &:hover {
        transform: scale(1.1);  // Zoom suave
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); // Sombra más profunda
      }
    }

    .about-text {
      flex-grow: 1;
      max-width: 700px;
      text-align: center;
      margin-top: 1rem; // Reduce espacio entre imagen y texto

      p {
        line-height: 1.6;
        font-size: clamp(0.9rem, 2.5vw, 1.3rem);
        color: $text-color;
        margin: 0 auto;
      }

      .skills-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; // Centra las tarjetas
        gap: 1rem;
        margin-top: 1.5rem; // Reduce margen superior

        .skill-card {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: clamp(160px, 20%, 200px);
          height: 130px;
          background-color: white;
          border: 1px solid $primary-color;
          border-radius: 15px;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          text-align: center;
          transition: transform 0.3s ease, box-shadow 0.3s ease;

          &:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
          }

          i {
            font-size: 1.8rem;
            color: $primary-color;
            margin-bottom: 0.5rem;
          }

          p {
            font-size: clamp(0.8rem, 2vw, 1rem);
            color: $text-color;
          }
        }
      }
    }
  }
}
