@use "../variables" as *;
@use "sass:color"; // Importa el módulo color

#footer {
  background: linear-gradient(135deg, $primary-color, color.adjust($primary-color, $lightness: 10%)); // Degradado sutil
  color: white;
  padding: 2rem 0;
  text-align: center;

  .footer-content {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      font-size: clamp(0.8rem, 2.5vw, 1rem);
      margin-bottom: 1.5rem;
      font-weight: 600;
      color: color.adjust(white, $lightness: -10%); // Sustituido darken
    }

    .footer-links {
      list-style: none;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;

      li {
        a {
          color: white;
          text-decoration: none;
          font-size: clamp(0.9rem, 2.5vw, 1.2rem);
          display: flex;
          align-items: center;
          gap: 0.5rem;
          transition: color 0.3s ease, transform 0.3s ease;

          i {
            font-size: 1.2rem;
            transition: transform 0.3s ease, color 0.3s ease;
          }

          &:hover {
            color: $link-hover-color;
            transform: translateY(-3px);

            i {
              color: $link-hover-color;
              transform: scale(1.2);
            }
          }
        }
      }
    }
  }
}
