@use "../variables" as *;

#hero {
  background-color: $background-color;
  text-align: center;
  padding: 4rem 1rem;

  h1 {
    font-size: 2.5rem;
    color: $primary-color;
    margin-bottom: 1rem;

    @media (max-width: 480px) {
      font-size: 2rem; // Reducir el tamaño del título en móviles
    }

    @media (max-width: 768px) {
      font-size: 2.2rem; // Tamaño intermedio para tablets
    }
  }

  p {
    font-size: 1.2rem;
    color: $text-color;
    margin: $margin auto;
    max-width: 600px;

    @media (max-width: 480px) {
      font-size: 1rem; // Ajustar fuente para móviles
    }

    @media (max-width: 768px) {
      font-size: 1.1rem; // Ajustar fuente para tablets
    }
  }

  .cta-button {
    display: inline-block;
    background-color: $primary-color;
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    text-decoration: none;
    margin-top: $margin;

    &:hover {
      background-color: $link-hover-color;
    }

    @media (max-width: 480px) {
      padding: 0.5rem 1rem; // Botón más compacto en móviles
    }
  }
}
