// Colors
$primary-color: #f4a6c1 !default; // Rosita claro
$secondary-color: #fef6fa !default; // Fondo suave rosa pálido
$background-color: #fff !default; // Fondo blanco
$text-color: #333 !default; // Texto oscuro
$link-color: #f486ab !default; // Rosita intenso para enlaces
$link-hover-color: #d14c7d !default; // Rosa más fuerte para hover

// Fonts
$font-family: 'Arial', sans-serif !default;

// Spacing
$padding: 1rem !default;
$margin: 1rem !default;
