@use "./variables" as *;

@use "./components/header";
@use "./components/hero";
@use "./components/projects";
@use "./components/about";
@use "./components/contact";
@use "./components/footer";
@use "./components/animations";

@use "./responsive";

body {
    font-family: $font-primary;
    line-height: 1.6;
    color: #333; 
}

h1, h2, h3 {
    font-family: $font-secondary;
    font-weight: 600;
}

a {
    text-decoration: none; 
  }
  