
# Excluir todos los archivos por defecto
*

# Permitir este archivo .gitignore
!.gitignore

# Permitir archivos en la raíz, como references.md
!*.md

# Permitir la carpeta Forza y su contenido
!Forza/
!Forza/**
